<div class="row">
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-green d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Publishers</label>
        </div>
    </div>
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-red d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Groups</label>
        </div>
    </div>
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-secondary-blue d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Elders</label>
        </div>
    </div>
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-brown d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Regular Pioneer</label>
        </div>
    </div>
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-purple d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Ministerial Servant</label>
        </div>
    </div>
    <div class="col-6 col-xl-4 p-2">
        <div class="tile bg-lime d-flex flex-column align-items-center py-3">
            <h1 class="m-0 p-0 text-white" style="font-size:100px">0</h1>
            <label class="m-0 p-0 text-white text-center">Unbaptize Publishers</label>
        </div>
    </div>
</div>