<div style="height:80vh;">
    <form [formGroup]="publisherForm" *ngIf="publisherForm" (submit)="submit()">
        <div class="row">
            <div class="col-12 text-center">
                <label class="text-red my-2 text-center">{{message}}</label>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">First Name</label>
                    <kendo-textbox
                        placeholder="First Name"
                        [clearButton]="true"
                        formControlName="firstName" 
                        name="firstName" 
                    ></kendo-textbox>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">Last Name</label>
                    <kendo-textbox
                        placeholder="Last Name"
                        [clearButton]="true"
                        formControlName="lastName" 
                        name="lastName" 
                    ></kendo-textbox>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">Field Service Group</label>
                    <kendo-dropdownlist
                        [data]="[1,2,3,4,5,6]"
                        placeholder="Field Service Group"
                        formControlName="groupNumber" 
                        name="groupNumber"
                    ></kendo-dropdownlist>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">Gender</label>
                    <kendo-dropdownlist
                        [data]="genders"
                        textField="text"
                        valueField="lookUpId"
                        placeholder="Gender"
                        formControlName="genderLookUp" 
                        name="genderLookUp"
                    ></kendo-dropdownlist>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">Status</label>
                    <kendo-dropdownlist
                        [data]="status"
                        textField="text"
                        valueField="lookUpId"
                        placeholder="Status"
                        formControlName="statusLookUp" 
                        name="statusLookUp"
                    ></kendo-dropdownlist>
                </div>
            </div>
            <div class="col-12 col-md-4 align-self-center mt-3">
                <div class="m-2">
                    <label class="form-label">
                        <input type="checkbox" formControlName="isRp" name="isRp" />
                        Is Regular Pioneer?
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="m-2">
                    <label class="form-label">Privilege</label>
                    <kendo-dropdownlist
                        [data]="privilege"
                        textField="text"
                        valueField="lookUpId"
                        placeholder="Privilege"
                        formControlName="privilegeLookUp" 
                        name="privilegeLookUp"
                    ></kendo-dropdownlist>
                </div>
            </div>
            <div class="col-12">
                <hr/>
                <div *ngIf="id" class="btn btn-default bg-red text-white float-end mx-1" (click)="delete()">Delete</div>
                <button class="btn btn-default bg-green text-white float-end mx-1" >Submit</button>
            </div>
        </div>
    </form>
    
    <div class="row mt-2">
        <div class="col-12">
            <kendo-tabstrip>
                <kendo-tabstrip-tab title="Mid Week Parts" [selected]="true">
                    <ng-template kendoTabContent>
                        <app-grid  [inCardView]="true" [pageGrid]="publisherRecentPartPageGrid" [onLoadGrid]="loadDataGrid" [gridTitle]="'Publisher Recent Parts'" [inCardView]="false"></app-grid>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab title="Weekend Parts" >
                    <ng-template kendoTabContent>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab title="Reports" >
                    <ng-template kendoTabContent>
                    </ng-template>
                  </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
    </div>
</div>