<nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a >DataTracker</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">DataTracker</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li [routerLink]="['/dashboard']" [routerLinkActive]="['active']"><a >Dashboard</a></li>
          <li>
            <a >Meetings</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
            <ul class="htmlCss-sub-menu sub-menu">
                <li [routerLink]="['/midweekmeeting']" [routerLinkActive]="['active']"><a >Mid Week Meeting</a></li>
                <li [routerLink]="['/weekendmeeting']" [routerLinkActive]="['active']"><a >Week End Meeting</a></li>
              </ul>
          </li>
          <li [routerLink]="['/publishers']" [routerLinkActive]="['active']"><a >Publishers</a></li>
          <li [routerLink]="['/servicereport']" [routerLinkActive]="['active']"><a >Reports</a></li>
          <li>
            <a >Admin Tools</a>
            <i class='bx bxs-chevron-down js-arrow arrow'></i>
            <ul class="js-sub-menu sub-menu">
              <li [routerLink]="['/privileges']" [routerLinkActive]="['active']"><a >Privileges</a></li>
            </ul>
          </li>
          <li [routerLink]="['/profile']" [routerLinkActive]="['active']"><a >Profile</a></li>
          <li (click)="logout()"><a >Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>