<div class="nav">
    <h3 class="m-0 p-0">DataTracker</h3>
    <div class="nav-menu">
        <div class="menu-item">
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['link-active']">Dashboard</a>
            <a [routerLink]="['/meetings']" [routerLinkActive]="['link-active']">Meetings</a>
            <a [routerLink]="['/publishers']" [routerLinkActive]="['link-active']">Publishers</a>
            <a [routerLink]="['/servicereport']" [routerLinkActive]="['link-active']">Service Report</a>
            <a [routerLink]="['/users']" [routerLinkActive]="['link-active']">Users</a>
        </div>
        <div class="menu-user">
            <a [routerLink]="['/users']" [routerLinkActive]="['link-active']">John Doe</a>
            <div class="profile-pic"></div>
        </div>        
    </div>
</div>