<div class="border p-2" *ngIf="dataItem">
    <h4 class="m-0 p-0">
        <span class="p-0 m-0" *ngIf="dataItem.category === midWeekCategories.OPENING">Opening</span>
        <span class="p-0 m-0" *ngIf="dataItem.category === midWeekCategories.TREASUREFROMGODSWORD">Treasure From God's Word</span>
        <span class="p-0 m-0" *ngIf="dataItem.category === midWeekCategories.APPLYYOURSELFTOTHEFIELDMINISTRY">Apply Yourself To The Field Ministry</span>
        <span class="p-0 m-0" *ngIf="dataItem.category === midWeekCategories.LIVINGASACHRISTIAN">Living as a Christian</span>
        <span class="p-0 m-0" *ngIf="dataItem.category === midWeekCategories.ATTENDANTS">Attendants</span>
    </h4>
    <h4 class="m-0 p-0">{{dataItem.part}}</h4>
    <h5 class="m-0 p-0">{{dataItem.scheduledDateDT | date}}</h5>
</div>