<div class="container-xxl" style="margin-bottom:6rem;" *ngIf="schedules">
    <div class="row">
        <div class="mt-3 col-12 d-flex align-items-center justify-content-between">
            <h3>Mid Week Meeting Schedules</h3>
            <div class="d-flex" style="column-gap:10px;">
                <button class="btn btn-default" (click)="openMidWeekModal()">
                    <i class='bx bx-calendar-plus'></i>
                </button>
                <button class="btn btn-default" (click)="capture()">
                    <i class='bx bxs-camera'></i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <hr/>
        </div>      
    </div>
    <div class="row">
        <div class="col-12">
            <kendo-datapager
                [total]="schedules.totalCount"
                [pageSize]="pageSize"
                [skip]="skip"
                (pageChange)="pageChange($event)"
                [pageSizeValues]="false"
            >
            </kendo-datapager>            
        </div>
    </div>
    <div class="row" id="scheduleContent">
        <div #scheduleElement class="col-12 col-md-6 col-lg-4" *ngFor="let schedule of schedules.data">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 fw-bold text-center d-flex justify-content-between align-items-center">
                            <span>{{schedule.scheduleDT | date}}</span>
                            <div class="d-flex" style="column-gap:10px;">
                                <button class="btn btn-default" (click)="openMidWeekModal(schedule)">
                                    <i class='bx bxs-calendar-plus'></i>
                                </button>
                                <button class="btn btn-default" (click)="capture(scheduleElement,schedule)">
                                    <i class='bx bxs-camera'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div *ngFor="let category of categoryArrangement">
                        <div class="section-header gray" *ngIf="category === midWeekCategories.TREASUREFROMGODSWORD">
                            <span>
                                TREASURE FROM GOD’S WORD
                            </span>
                            <div></div>
                        </div>
                        <div class="section-header yellow" *ngIf="category === midWeekCategories.APPLYYOURSELFTOTHEFIELDMINISTRY">
                            <span>
                                Apply Yourself To The Field Ministry
                            </span>
                            <div></div>
                        </div>
                        <div class="section-header red" *ngIf="category === midWeekCategories.LIVINGASACHRISTIAN">
                            <span>
                                Living as a Christian
                            </span>
                            <div></div>
                        </div>
                        <div class="section-header blue" *ngIf="category === midWeekCategories.ATTENDANTS">
                            <span >
                                Attendants
                            </span>
                            <div></div>
                        </div>
                        
                        <div *ngFor="let scheduleItem of filterByCategory(category,schedule)">
                            <div class="d-flex justify-content-between align-items-center border-secondary border-bottom pb-2">
                                <label>{{scheduleItem.role}}</label>
                                <div>
                                    <p class="m-0 p-0 fw-bold text-end" >{{scheduleItem.publisher ? scheduleItem.publisher.fullName : "-"}}</p>
                                    <p class="m-0 p-0 fw-bold text-end" *ngIf="scheduleItem.partnerPublisher">{{scheduleItem.partnerPublisher.fullName}}</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>