<div class="card m-1">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h3 class="m-0 p-0">Mid Week Meeting Schedule</h3>
                <label>
                    <i class='bx bx-calendar' ></i>
                    {{currentMidWeekSchedule.scheduledDate | date}}
                </label>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <button class="btn btn-default" (click)="openMidWeekModal()">
                    <i class='bx bx-edit' ></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <div class="row mb-3">
            <div class="col-12 col-md-5 col-xl-4 col-xxl-3">
                <div class="d-flex justify-content-between" *ngFor="let scheduleItem of filterByCategory()">
                    <label>{{scheduleItem.role}}</label>
                    <label class="fw-bold text-end" *ngIf="scheduleItem.publisher">{{scheduleItem.publisher.fullName}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 p-2 mb-2" *ngFor="let category of categoryArrangement">
                <div *ngIf="category === midWeekCategories.TREASUREFROMGODSWORD" class="bg-gray p-2 text-center text-white fw-bold d-flex align-items-center justify-content-center" style="height:44px">
                    TREASURE FROM GOD'S WORD
                </div>
                <div *ngIf="category === midWeekCategories.APPLYYOURSELFTOTHEFIELDMINISTRY" class="bg-yellow p-2 text-center text-white fw-bold d-flex align-items-center justify-content-center" style="height:44px">
                    APPLY YOURSELF TO THE FIELD MINISTRY
                </div>
                <div *ngIf="category === midWeekCategories.LIVINGASACHRISTIAN" class="bg-red p-2 text-center text-white fw-bold d-flex align-items-center justify-content-center" style="height:44px">
                    LIVING AS CHRISTIANS
                </div>
                <div *ngIf="category === midWeekCategories.ATTENDANTS" class="bg-blue p-2 text-center text-white fw-bold d-flex align-items-center justify-content-center" style="height:44px">
                    ATTENDANTS
                </div>
                <div class="p-1">
                    <div class="d-flex justify-content-between align-items-center border-bottom border-secondary pb-2" *ngFor="let scheduleItem of filterByCategory(category)">
                        <label>{{scheduleItem.role}}</label>
                        <div>
                            <p class="m-0 p-0 fw-bold text-end">{{scheduleItem.publisher ? scheduleItem.publisher.fullName : '-'}}</p>
                            <p class="m-0 p-0 fw-bold text-end" *ngIf="scheduleItem.partnerPublisher">{{scheduleItem.partnerPublisher.fullName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>